/*
structure
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

.logo {
    font-family: WorkSans;

    font-weight: bold;
    font-size: 32px;
}

/*
fonts
*/

@font-face {
    font-family: Mohave;
    src: url(../css/fonts/Mohave/Mohave-VariableFont_wght.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(../css/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

/*
header
*/

#header {
    position: fixed;
    width: 100%;
    flex-wrap: wrap;

    font-family: WorkSans;

    background-color: white;
}

#header-logo {
    width: 22%;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    min-height: 65px;

    margin: 0 3% 0 3%;

    background-color: white;
}

#main-header a {
    color: black;
    text-decoration: none;
}

.nav-category-links {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    width: 50%;
}

.nav-category-links a {
    margin: 0 5% 0 5%;
}

.nav-category-links a:hover {
    color: seagreen;
}

.nav-category-links img {
    height: 10px;
    width: 10px;
}

.nav-icon-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 22%;
}

.nav-icon-links img {
    height: 32px;
    width: 32px;
}


.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border-radius: 10px;

    height: 36px;

    margin: 0 7%;

    background-color: seagreen;
}

#side-header {
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    background-color: seagreen;
}

/*
footer
*/

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /*height: 250px;*/
    width: 100%;

    padding: 80px;

    color: white;
    background-color: seagreen;
}

/*
HOME PAGE
*/

/*
hero
*/

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 600px;
    width: 100%;

    color: white;
    font-family: WorkSans;

    background-image: linear-gradient(
            to bottom,
            rgba(118, 86, 86, 0.5),
            rgba(118, 86, 86, 0.5)
    ),
    url(../img/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero p {
   font-size: 24px;
}

.hero-button {
    padding: 10px 20px;
    margin-top: 50px;

    text-decoration: none;
    border-radius: 10px;
    color: white;

    background-color: darkorange;
}

/*
about
*/

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: WorkSans;

    padding: 100px 200px;
}

.about-text {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
}

.about-text p {
    width: 45%;
}